@font-face {
  font-family: "Poppins";
  src: url("../static/fonts/transfonter.org-20240317-174835/Poppins-Medium.woff2") format("woff2"), url("../static/fonts/transfonter.org-20240317-174835/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../static/fonts/transfonter.org-20240317-174835/Poppins-SemiBold.woff2") format("woff2"), url("../static/fonts/transfonter.org-20240317-174835/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../static/fonts/transfonter.org-20240317-174835/Poppins-Regular.woff2") format("woff2"), url("../static/fonts/transfonter.org-20240317-174835/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../static/fonts/transfonter.org-20240317-174835/Poppins-Bold.woff2") format("woff2"), url("../static/fonts/transfonter.org-20240317-174835/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Poppins";
}

.sidebar {
  padding: 64px 45px;
}

.cards_main {
  display: flex;
  justify-content: space-between;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: Fixed(870.74px);
  height: Hug(1, 528px);
  gap: 32px;
}

.card {
  display: flex;
  width: 869px;
  height: 280px;
  border-radius: 12px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
}
.card img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.about-product {
  display: flex;
  flex-direction: column;
  width: Hug(269px);
  height: Hug(212px);
  gap: 25px;
  margin-top: 32px;
  margin-left: 32px;
}

.product-title {
  display: flex;
  flex-direction: column;
  width: Hug(269px);
  height: Hug(75px);
  gap: 8px;
}
.product-title h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #151515;
}
.product-title p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #575757;
}
.product-title .stars-wrapper {
  display: flex;
  width: 108px;
  height: 20px;
  gap: 2px;
  margin-top: 8px;
}
.product-title .stars-wrapper .stars {
  width: 20px;
  height: 20px;
}

.product-discription {
  display: flex;
  flex-direction: column;
  width: Hug(237px);
  height: Hug(112px);
  gap: 12px;
  margin-right: 96px;
}

.product-discription__data-lines {
  width: 237px;
  height: 19px;
  display: flex;
}
.product-discription__data-lines p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9a9a9;
}
.product-discription__data-lines .first-p1 {
  margin-right: 32px;
}
.product-discription__data-lines .first-p2 {
  margin-right: 72px;
}
.product-discription__data-lines .first-p3 {
  margin-right: 53px;
}
.product-discription__data-lines .first-p4 {
  margin-right: 70px;
}
.product-discription__data-lines span {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #6a983c;
}

.card-cost {
  width: 172px;
  height: 216px;
  margin-top: 32px;
}
.card-cost .card-cost__price {
  width: 91px;
  height: 45px;
}
.card-cost .card-cost__price h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #151515;
}
.card-cost .card-cost__price p {
  font-family: open sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9a9a9;
  text-decoration: line-through;
}

.card-cost__delivery {
  width: 92px;
  height: 34px;
  margin-top: 16px;
  margin-bottom: 26px;
}
.card-cost__delivery span {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9a9a9;
}
.card-cost__delivery p {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #a9a9a9;
}

.card_cost__buy-like {
  display: flex;
  flex-direction: column;
  width: Hug(164px);
  height: Hug(95px);
  gap: 8px;
}
.card_cost__buy-like a {
  display: flex;
  text-decoration: none;
  width: Hug(164px);
  height: Hug(47px);
  padding: 12px 16px 12px 16px;
  gap: 6px;
  border-radius: 12px;
  font-family: open sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  background-color: #6a983c;
  border: 2px solid #46760a;
}
.card_cost__buy-like button {
  display: flex;
  align-items: center;
  width: Hug(164px);
  height: Fixed(36px);
  padding: 6px 12px 6px 12px;
  gap: 8px;
  border-radius: 12px;
  background-color: #f5f5f5;
  color: #151515;
  font-family: poppins;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.card1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.title {
  margin-bottom: 18.5px;
}

.name {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 130px;
  margin-bottom: 14px;
  cursor: pointer;
}

.green {
  display: inline-block;
  padding: 0 8px;
  color: #6a983c;
  background: #f4f8ec;
  border-radius: 12px;
}

.card2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  cursor: pointer;
}

.check {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 17px;
}

.card3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.card4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.range {
  width: 246px;
}

.min-max {
  display: flex;
  margin-top: 29px;
  margin-bottom: 31px;
  flex-direction: row;
  align-items: center;
  gap: 33px;
}

.min {
  display: flex;
  flex-direction: column;
}

.price {
  width: 109px;
  padding: 11px 16px 12px 21px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 12px;
}

.btn {
  display: flex;
  gap: 34px;
}

.btn1 {
  width: 78px;
  height: 48px;
  padding: 12.5px 16px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  background: #6a983c;
  border: 2px solid #46760a;
}

.btn2 {
  width: 67px;
  height: 35px;
  padding: 6px 12px;
  margin-left: 34px;
  text-decoration: none;
  color: #a9a9a9;
}

footer {
  margin-top: 50px;
}
footer .footer_top {
  display: flex;
  justify-content: space-between;
}
footer .footer_top .footer_top_left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer_top .footer_top_left a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
}
footer .footer_top .footer_top_left a:hover {
  color: rgb(106, 152, 60);
}
footer .footer_top .footer_top_right {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}
footer .footer_top .footer_top_right .p1 {
  color: rgb(106, 152, 60);
  background-color: rgba(106, 152, 60, 0.444);
  padding: 5px 16px;
  border-radius: 20px;
}
footer .footer_top .footer_top_right p {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_top_center button {
  padding: 12px 16px 12px 16px;
  border-radius: 12px;
  border: none;
  background-color: rgb(106, 152, 60);
  font-weight: bold;
  color: #fff;
  transition: all 1s ease;
  cursor: pointer;
}
.footer_top_center button:hover {
  background-color: rgba(106, 152, 60, 0.432);
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card1 p {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card1 a {
  color: rgb(106, 152, 60);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s ease;
}
.card1 a:hover {
  color: rgba(106, 152, 60, 0.733);
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom {
  margin-top: 50px;
}
.footer_bottom .cart_text {
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer_bottom .card_text {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.footer_bottom .card_text a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(128, 128, 128, 0.432);
  padding: 5px 10px;
  border-radius: 20px;
  color: black;
  transition: all 0.5s ease;
}
.footer_bottom .card_text a:hover {
  color: rgb(106, 152, 60);
}

.text_bottom {
  margin-top: 50px;
  margin-bottom: 40px;
}
.text_bottom p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */